.sidebarCollapse {
  font-size: 1.5rem;
  height: 50px;
  width: 50px;
  display: grid;
  place-items: center;
  position: absolute;
  right: -20px;
  top: 10px;
  z-index: 10;
  background: white;
  border: 2px solid rgb(185, 184, 184);
  border-radius: 50%;
}

.header {
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header h1 {
  font-size: 1.5rem;
}
.header .icon {
  font-size: 1.75rem;
}

.content {
  width: 250px;
  position: absolute;
  top: 15%;
  right: 40px;
  z-index: 1000;
}
